<div class="mt-5 p-3">
    <div class="accordion shadow" id="accordTest1">
        <div class="card">
          <div class="card-header bg-white" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left bi bi-question-circle fs-30" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Ejercicio 2
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordTest1">
            <div class="card-body">
              <h5>Selecciona las respuestas correctas</h5>
              <ul>
                <li class="mb-5">
                    ¿Cuál es la diferencia fundamental entre un argumento deductivo y un argumento inductivo?<br>
                    <form>
                        <div class="custom-control custom-radio mb-3 mt-3">
                            <input type="radio" class="custom-control-input" id="option1" name="radio-stacked" required>
                            <label class="custom-control-label" for="option1">a. Los argumentos deductivos se basan en premisas que otorgan un grado de probabilidad a la conclusión, mientras que los argumentos inductivos garantizan la verdad de la conclusión.</label>
                          </div>
                          <div class="custom-control custom-radio mb-3 cursor-p">
                            <input type="radio" class="custom-control-input" id="option2" name="radio-stacked" required>
                            <label class="custom-control-label" for="option2">b. Los argumentos deductivos son siempre inválidos, mientras que los argumentos inductivos son siempre fuertes.</label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="option3" name="radio-stacked" required>
                            <label class="custom-control-label" for="option3">c. La diferencia radica en que los argumentos deductivos no requieren premisas, mientras que los inductivos sí.</label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="option4" name="radio-stacked" required>
                            <label class="custom-control-label" for="option4">d. Los argumentos deductivos aseguran que la verdad de las premisas conduce necesariamente a la verdad de la conclusión, mientras que los argumentos inductivos otorgan un grado de probabilidad a la conclusión.</label>
                          </div>
                    </form>
                </li>
                <li>
                    ¿Qué aspecto de los argumentos NO será evaluado en la prueba de comunicación escrita, sergún lo establecido en el texto?
                    <form>
                        <div class="custom-control custom-radio mb-3 mt-3">
                            <input type="radio" class="custom-control-input" id="option5" name="radio-stacked" required>
                            <label class="custom-control-label" for="option5">a. La corrección de su presentación formal.</label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="option6" name="radio-stacked" required>
                            <label class="custom-control-label" for="option6">b. La claridad de su expresión.</label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="option7" name="radio-stacked" required>
                            <label class="custom-control-label" for="option7">c. La validez de los argumentos.</label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="option8" name="radio-stacked" required>
                            <label class="custom-control-label" for="option8">d. La pertinencia de los argumentos para justificar el punto central del escrito.</label>
                          </div>
                    </form>
                </li>
              </ul>

              <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Comprobar">
              </div>
            </div>
          </div>
        </div>
    </div>
</div>