<div class="mt-5 text-body">
    <div class="row mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="border border-secondary p-5 text-center">
                        <h5>Nivel 1</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="espacio mb-4"></div>
                        </div>
                        <div class="border-left border-bottom border-secondary col-md-6">
                            <div class="espacio"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="espaciado"></div>
                        </div>
                        <div class="border-left border-bottom border-secondary col-md-6">
                            <div class="espaciado"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="espaciado"></div>
                    <div class="border border-secondary text-center">
                        <h5 class="border border-secondary pt-3 pb-3">Nivel 1.1</h5>
                        <p class="p-3">Explicación de Nivel 1.1</p>
                    </div>
                    <div class="border border-secondary text-center mt-3">
                        <h5 class="border border-secondary pt-3 pb-3">Nivel 1.2</h5>
                        <p class="p-3">Explicación de Nivel 1.2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>